@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">New Contact</a>
</p>


<form id="searchForm">
    <div class="form-group">
        <label>Search:</label>
        <input type="text" id="searchInput" />
    </div>
  
</form>

@Html.AntiForgeryToken()

<div id="searchResults"></div>